<!DOCTYPE html>
<html>
  <head>
    <title>hi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      {{{ body }}}
    </div>
  </body>
</html>
